<div class="container" id="video-box">
  <h1>Live Stream</h1>
  <h2 ng-if="streamStarted">Stream is live!</h2>
  <h2 ng-if="!streamStarted">Stream has not started.</h2>
  <p>
    <img id="video-stream" alt="Click to start stream" ng-click="startStream()">
  </p>
  <p ng-if="streamStarted && isChrome" class="bg-warning">
    Note: some versions of Chrome and Chromium are unable to play the live
    stream. Please try another browser such as Firefox if the video does not
    display.
  </p>
</div>
