<div class="jumbotron">
  <h1>SecCam</h1>
  <hr>
  <p class="lead">
    <!--<img src="images/paradrop-big.6f0864b6.png" alt="Paradrop" style=\'width: 55%\'>--> <!--<br>--> Security brought to you by <br> <a href="http://paradrop.io"><img src="images/paradrop-small.9986ea54.png" alt="Paradrop" style="width: 55%"></a> 
  </p>
  <hr>
  <p><a class="btn btn-lg btn-success" ng-href="#/live-stream">Live Stream <span class="glyphicon glyphicon-facetime-video"></span></a></p>
  <p><a class="btn btn-lg btn-success" ng-href="#/photos">Photos <span class="glyphicon glyphicon-camera"></span></a></p>
</div>
<div class="row marketing">
  <!--\n  <h4>HTML5 Boilerplate</h4>\n  <p>\n    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.\n  </p>\n\n  <h4>Angular</h4>\n  <p>\n    AngularJS is a toolset for building the framework most suited to your application development.\n  </p>\n\n  <h4>Karma</h4>\n  <p>Spectacular Test Runner for JavaScript.</p>\n  --> 
</div>
